.board{
    width: 700px;
    box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.5);
}


.row{
    font-size: 30px;
    text-align: center;
    height: 200px;
    background: #f3f3f3;
    border-left: 2px black solid;
    border-top: 0px black solid;
    border-right: 2px black solid;
    transition: all ease 3s
}
.blue{
    background-color: blue;
}
.green{
    background-color: green;
}
.yellow{
    background-color: yellow;
}


.col{
 border: 3px black solid;

}
.row:hover{
}
.col:hover{

    opacity: 0.1;
}
